body {
  width: 100vw;
  height: 100vh;
  background: #565656;
  background: radial-gradient(circle, #767676 32%, #2b2b2b 100%);
}

.select2 {
  width: 100% !important;
}

.select2-selection {
  height: calc(1.5em + .75em + 2px) !important;
}

